body {
  height: 100%;
  background-color: #1C3A78;
}

footer {
  text-align: center;
  background-color: #CCEFFE;
  padding: 3px;
  border-width: 5px 0 0 0;
  /* top right bottom left */
  border-style: solid;
  margin-top: 100px;
}

.bg-image {
  width: 100%;
  height: 850px;;
  object-fit: cover;
  border-width: 0 0 5px 0;
  /* top right bottom left */
  border-style: solid;
}

.intro-card {
  margin: auto;
  text-align: left;
  background-color: #CCEFFE;
  color: #212529;
  border-color: #212529;
  border-radius: 20px;
  border-style: solid;
  border-width: thick;
  padding: 5px;
}

.face {
  border-radius: 150px;
}

.container {
  border-radius: 15px;
  color: #212529;
  border-color: #212529;
  background-color: #CCEFFE;
  border-style: solid;
  border-width: thick;
  padding: 10px 30px 0 30px;
}

.grid-title-text {
  font-size: 2rem;
  text-align: center;
  text-decoration: bold;
}

.star-key {
  line-height: 0.9;
}

.stars {
  text-align: center;
  line-height: 0.9;
}

.grid-item-left {
  font-size: 1.3rem;
  margin-left: 10px;
}

.grid-item {
  font-size: 1.3rem;
  text-align: center;
}

.education {
  color: white;
  text-align: center;
}

.westwood-logo {
  border-radius: 113px;
  margin-top: 30px;
}

.title {
  padding-top: 100px;
  text-align: center;
  color: white;
}

.work-experience-block {
  line-height: 1;
}

/*
background-color: #1C3A78;
color: #CCEFFE */

@media (max-width: 576px) {
  .stars {
    font-size: 1.3rem;
  }
  .grid-item-left {
    margin-left: 0;
    font-size: 1rem;
  }
  .grid-title-text {
    font-size: 1.5rem;
    margin: auto;
  }
}
